body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

.cbalink {
  visibility: hidden;
  display: none;
}

body {
  font-family: roboto;
  overflow-x: hidden;
}

.w {
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

.konsult {
  width: 100%;
  text-align: center;
  border: 2px #ececec solid;
  padding: 12px 0;
}

.konsult button {
  background-color: #00796b;
  border: none;
  outline: none;
  color: white;
  font-size: 25px;
  padding: 8px 28px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.konsult :hover {
  cursor: pointer;
}

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 30px;
  font-family: roboto;
  text-transform: uppercase;
  margin-left: 100px;
  padding-top: 30px;
}

.main-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.main-line-1 {
  width: 300px;
  height: 5px;
  background-color: #00796b;
}

.main-line-2 {
  width: 100px;
  height: 5px;
  background-color: #00796b;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.side-line {
  background-color: #00796b;
  width: 6.6px;
  height: 330px;
  margin-left: 9%;
  margin-top: 80px;
  float: left;
}

.boli-all {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bi1 {
  margin-left: 100px;
  margin-top: 60px;
}

.boli-item {
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.boli-item img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.boli-item p {
  margin-left: 40px;
  font-size: 15px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

.bi2 {
  margin-top: 30px;
  margin-left: 220px;
}

.bi3 {
  margin-top: 30px;
  margin-left: 100px;
}

.bol-bg {
  position: absolute;
  right: -60px;
  top: 220px;
}

.svg-1 {
  background: url("../img/svg/ic_block_gray.svg") no-repeat top center;
  width: 234px;
  height: 234px;
}

.nav-bottom {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -50px;
}

.mouse-div {
  width: 100%;
  text-align: center;
}

.mouse {
  background: url("../img/svg/ic_mouse_gray_24px.svg") no-repeat top center;
  background-size: 34px;
  width: 34px;
  height: 34px;
  margin: 0 auto;
}

.page-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 56px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}

.page-gray {
  background: url("../img/svg/ic_bug_report_gray_24px.svg") no-repeat top center;
  background-size: 34px 34px;
  width: 34px;
  height: 34px;
}

.page-active {
  background: url("../img/svg/ic_bug_report_green_24px.svg") no-repeat top center;
  background-size: 34px 34px;
  width: 34px;
  height: 34px;
}

.items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 140px;
}

.item {
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
}

.item img {
  width: 83px;
  height: 83px;
}

.item p {
  text-align: center;
  margin-top: auto;
  font-size: 21px;
}

.tesis {
  margin: 0 auto;
  margin-top: 90px;
  padding-left: 150px;
  width: 400px;
}

.tesis p {
  font-size: 16px;
  font-weight: 500;
}